/* stili generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

li{
    list-style-type: none;
}

.container{
    width: 70%;
    margin: auto;
    display: flex;
}



/* stili header */
header{
    color: white;
    background-color: #7289da;
    padding-top: 20px;
    min-height: 500px;
}

#search{
    padding: 10px 0;
}

.container.header{
    padding: 5px 0;
    justify-content: space-between;
}

#main-nav{
    display: flex;
    flex-basis: 50%;
}

.logo.header{
    flex-basis: 20%;
}

#main-nav ul{
    display: flex;
    justify-content: space-around;
    min-width: 600px;
}

.logo.login{
    flex-basis: 20%;
    text-align: right;
}

#signin{
    background-color: white;
    border: 1px solid white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}

#main-info{
    display: flex;
}

.info{
    padding: 50px 0;
    flex-basis: 55%;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 60px;
}

.info p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 19px;
    line-height: 25px;
}

.scarica{
    text-align: center;
}

.download{
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.fa-solid.fa-arrow-down{
    padding: 7px;
}

.download.mac{
    border: 1px solid white;
    color: black;
    background-color: white;
    margin-right: 20px;
}

.download.browser{
    border: 1px solid black;
    color: white;
    background-color: black;
}



/* stili main */
.main{
    display: flex;
}

.main.grey{
    background-color: #f6f6f6;
}

.container.item{
    padding: 200px 0;
    justify-content: space-between;
}

.image{
    flex-basis: 55%;
    /* DEBUG */
    background-color: lightblue;
}

.text{
    flex-basis: 40%;
}

h2{
    font-size: 50px;
}

.description{
    font-size: 23px;
    line-height: 30px;
    margin-top: 30px;
    font-style: normal;
}

.container.item.reverse{
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main.grey.large{
    min-height: 600px;
}

.container.large{
    display: block;
    text-align: center;
    padding: 200px 0;
    /* DEBUG */
    min-height: 550px;
}

.title-large{
    font-size: 45px;
}

.description-large{
    font-size: 20px;
    line-height: 30px;
    margin: 30px 5px 30px 5px;
}

.adventure{
    font-size: 30px;
    margin-bottom: 30px;
}

.download.mac.last{
    border: 1px solid #7289da;
    color: white;
    background-color: #7289da;
    font-size: 20px;
}



/* stili footer */
.main.footer{
    display: flex;
    padding: 40px 0;
     /* DEBUG */
    background-color: #23272a;
}

.container.footer{
    justify-content: space-between;
     /* DEBUG */
     min-height: 300px;
}

.col{
    flex-basis: 15%;
}

.col.first{
    flex-basis: 35%;
}

#choose{
    background-color:  #23272a;
    color: white;
    margin: 30px 10px 10px 10px;
}

.fa-brands{
    color:  white;
    margin: 5px 10px;
}

.main.footer.last{
    display: flex;
    padding: 10px 0;
    /* DEBUG */
    min-height: auto;
    background-color: #23272a;
}

.container.last{
    border-top: solid 1px #7289da;
    padding: 20px 3px;
    justify-content: space-between;
}

.talk{
    font-size: 30px;
    color: #7289da;
    padding-right: 35px;
    margin-left: 10px;
}

h4{
    color: #7289da;
}

.help{
    margin: 10px 0;
    color: white;
}

.help a{
    color: white;
}

.logo.footer{
    /* DEBUG */
    background-color: salmon;
    border: black 1px dashed;
}

.download.signup{
    background-color: #7289da;
    color: white;
}


